body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url('https://cdn.shopify.com/s/files/1/1583/5653/articles/a8a6dd53d8e5f646_StockSnap_6BO8QPKBLD.jpg?v=1529286351');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $body-color;
}
