<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <div class="container">
    <h1 class="brand py-2">
      <a [routerLink]="['']">{{ appTitle }}</a>
    </h1>

    <div class="navbar-right">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <input type="text" id="keyword" name="keyword" [(ngModel)]="keyword" required placeholder="Enter a city name" />
        <input type="submit" value="Search" />
      </form>
    </div>
  </div>
</div>

<div class="overlay"></div>

<router-outlet></router-outlet>
