@import "../assets/variables";

.navbar {
  background-color: rgba($body-color, 0.5);
  margin-bottom: 30px;

  .brand {
    a {
      color: #0cba00;
    }
  }

  .navbar-right {
    input {
      background-color: transparent;
      border: 1px solid $border-color;
      box-shadow: none;
      color: $dark-gray;
      font-size: 16px;
      padding: 10px;

      &[type="submit"] {
        background-color: $border-color;
      }
    }
  }

}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.4);
  z-index: -1;
}