<div class="container">
  <h2>Main cities</h2>

  <div class="row">
    <div class="weather-item cols col-lg-2 col-md-4" *ngFor="let weather of weathers">
      <div class="weater-link" (click)="navigateToItem(weather.woeid)">
        <weather [weather]="weather"></weather>
      </div>
    </div>
  </div>
</div>
