
.weather-item {
  background-color: rgba(255,255,255, 0.5);
  border: 1px solid #97e24b;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #45f420;
  }
}