<div class="weather">
  <h3 class="title">{{weather.city}}</h3>
  <div class="today" [hidden]="!weather.today.temperature">
      <h3 [hidden]="!weather.secondday.temperature">Today:</h3>
      <div class="temperature">{{weather.today.temperature}}°</div>
      <div class="max"><span>Max:</span> {{weather.today.max}}°</div>
      <div class="min"><span>Min:</span> {{weather.today.min}}°</div>
      <div class="icon"><img src="{{weather.today.ico}}" alt="{{weather.city}}"></div>
  </div>
  <hr>
  <div class="secondday" [hidden]="!weather.secondday.temperature">
      <h3>Tomorrow:</h3>
      <div class="temperature">{{weather.secondday.temperature}}°</div>
      <div class="max"><span>Max:</span> {{weather.secondday.max}}°</div>
      <div class="min"><span>Min:</span> {{weather.secondday.min}}°</div>
      <div class="icon"><img src="{{weather.secondday.ico}}" alt="{{weather.city}}"></div>
  </div>
</div>
